/*=================================================================
  颜色
  =================================================================*/
$border-color: #cbced4;
$border-color-active: #cedae8;
$white : #fff;
$primary : #0a68b3;
$success : #0cbd5e;
$gray : #707070;
$error : #c31712;
$page-bg-color : #e4e7ee;
$page-bg-deepcolor: #cfd6e6;
$font-color-base: #161616;
$active-bg-color: #e1e4eb;
$line-color: #adb1b8;

/*=================================================================
  页面布局相关
  =================================================================*/
$header-height: 48px; // 顶部header的高度
$side-bar-width: 68px; // 侧边栏

$header-both-sides-padding: 24px; //页面边缘与内容间的padding
$content-both-sides-padding: 32px; //页面边缘与内容间的padding